@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    510 Tyee Cir <br />
    Anchorage, Ak<br />
    <abbr title="Phone">Cell Phone</abbr>
    907-250-5761<br />
    <strong>Business Email:</strong>   <a href="mailto:grenelsumabat@gmail.com">grenelsumabat@gmail.com</a><br />


</address>

<h3>@ViewBag.Message2</h3>
<address>
    510 Tyee Cir <br />
    Anchorage, Ak<br />
    <abbr title="Phone">Cell Phone</abbr>
    907-717-9764<br />
    <strong>Marketing:</strong> <a href="mailto:mrmochavido@gmail.com">Mrmochavido@gmail.com</a>
</address>