@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Legends Of Alaska</h1>
    <p class="lead"></p>
   <!---- <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Business</h2>
        <p>
           Intersted in getting some work done? Intersted in a collaborating with us? Click the link below to easily get in touch with us.
        </p>
        <p><a class="btn btn-default" href='Business/Email'>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>See a wide variety of before & after's on restorations or customs.<br /><br /></p>
        <p><a class="btn btn-default" href='Business/Gallery'>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shop</h2>
        <p>You can easily purchase some of our products. <br> <br> <br />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>