@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Legends Of Alaska</h1>
    <p class="lead"></p>Never stop learning. Never stop dreaming.
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Meet the team</h2>
        <p>
            Each member brings something special to the table and is a crucial part of the success of the team.
        </p>
        <p><a class="btn btn-default" href="http://facebook.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>See a wide variety of before & after's on restorations or customs</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shop</h2>
        <p>You can easily purchase some of our products</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>